<div id="body">
  <h1 id="title">Email2Face</h1>

  <h3 id="subtitle">You give me an email, and I get you their face.</h3>
  <div id="search_container">
    <input id="search" type="email" placeholder="an_email@facebook.com"></input>
    <div id="get_face" class='unselectable'>Get Face</div>
  </div>

  <div id="face_container" class='hidden'>
    <a id="json" href=""><img id="face" src=""/></a>
  </div>

  <div id="no_face" class='hidden'>
    <h3>No face found :(</h3>
    <h4>Maybe try a different email?</h4>
  </div>

  <div id="spinner" class='hidden'>
    <img src="https://www.loopt.com/images/spinner.gif?1329516024"/>
  </div>
</div>